body {
	padding: 0%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #333;
	background-color: #EEE;
}

a:link { color: #634c7f; }

a:visited { color: #634c7f; }

a:hover { color: #634c7f; }

a:active { color: #634c7f; }

input {
    font: 14px;
}

#logo {
	cursor:pointer;
	height:95%;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

#logo:hover {
	-webkit-transform: rotateZ(18deg);
  	-ms-transform: rotateZ(18deg);
  	transform: rotateZ(18deg);
}

input[type=text], input[type=password] {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	color: #333;
    border: 1px solid #777;
    padding: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 2mm;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(3, 2, 2, 0.1); 
    border-radius: 1mm;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1mm;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	background-color: lightgray;
}

#auth_popup, #help_popup, #rules_popup {
    display: none;
    width: 20%;
	box-shadow: 0 0px 15px rgba(0,0,0,0.4);
	margin-left: 32.5%;
	margin-top: 15;
	background-color: #fff;
	position: absolute;
	z-index: 100;
	border-radius: 1mm;
	padding: 2.5%;
}

#help_popup, #rules_popup {
    width: 40%;
	margin-left: 22.5%;
	height: 60%;
	overflow: auto;
}

#wrap{
    display: none;
    opacity: 0.6;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 99;
    overflow: auto;
}

.header {
	width: 90%;
	height: 20mm;
	margin: auto;
	border-radius: 0px 0px 1mm 1mm;
	text-align: center;
	background: #2d1e2d;
	color: white;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	position: relative;
	z-index: 1;
	margin-top: -8px;
}

.avatar {
    height: 9.5mm;
    width: 9.5mm;
    border: 2px solid #EAEAF4;
	border-radius: 1mm;
	margin-top: 1mm; 
}

.content {
	width: 85%;
	box-shadow: 0 0px 7px rgba(0,0,0,0.3);
	margin: auto;
	background-color: #FFFFFF;
	padding: 2.5%;
	padding-top: 16mm;
	padding-bottom: 10mm;
	margin-top: -12mm;
	position: unset;
	z-index: -1;
	border-radius: 0px 0px 1mm 1mm;
	font-size: large;
}

.footer {
	margin: auto;
	margin-top: 8mm; 
	text-align: center;
	color: #545454;
}

.white_link {
	display: inline-block;
	margin-right: 2mm;
	width: 20mm;
    font-size: 5mm;
    text-decoration: none;
	color: #FFFFFF;
	padding:1mm;
	padding-right: 2mm;

	-webkit-transition: all 0.25s ease;;
	-moz-transition: all 0.25s ease;;
	-o-transition: all 0.25s ease;;
	transition: all 0.25s ease;
}

.white_link:hover {
	background-color: #935171;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px black;
	border-radius: 1mm;
	color: #FFFFFF;
}

.white_link:active {
	background-color: #634c7f;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px black;
	border-radius: 1mm;
	color: #FFFFFF;
}

#header_cell_user {
    width: 100%;
    position: unset;
    text-align: right;
    border: none; 
    color: #EAEAF4;
    padding-top: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

@-webkit-keyframes fade_in {
	from { margin-left: 100%; width: 300%; }
	to { margin-left: 0%; width: 100%; }
}

@-moz-keyframes fade_in {
	from { margin-left: 100%; width: 300%; }
	to { margin-left: 0%; width: 100%; }
}

@keyframes fade_in {
	from { margin-left: 100%; width: 300%; }
	to { margin-left: 0%; width: 100%; }
}

.header_cell {
	font-size: larger;
	min-width: 28mm;
	height: 100%;
	cursor: default;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
	vertical-align: center;
	color: #EAEAF4;

	-webkit-transition: all 0.25s ease;;
	-moz-transition: all 0.25s ease;;
	-o-transition: all 0.25s ease;;
	transition: all 0.25s ease;
}

.header_cell:hover {
	background-color: #935171;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px black;
	border-radius: 1mm;
	color: #FFFFFF;
}

.header_cell:active {
	background-color: #634c7f;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px black;
	border-radius: 1mm;
	color: #FFFFFF;
}

.button {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
    background-color: #cac7cc;
    border: none;
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);
    border-radius: 1mm 1mm;
    position: relative;
    padding: 6px;
	font-size:large;
	-webkit-transition: all 0.25s ease;;
	-moz-transition: all 0.25s ease;;
	-o-transition: all 0.25s ease;;
	transition: all 0.25s ease;
}

.button:hover {
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	top: 1px;
	background-color: #d8d0dc;
}

.button:active {
    background-color: #cabecf;
	box-shadow: 0 2px 4px rgba(0,0,0,0.7);
	top: 3px;
}

.turing_tape {
	display: block;
} 

.turing_frame {
	margin: auto;
    width: 96%;
	border: 1px solid #DBDEE6;
	background-color: #fff;
	border-radius: 5px;
}

.turing_table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 8px;
}

.turing_table th, td {
	border: 1px solid black;
	padding: 6px;
	text-align: center;
}

.cell {
	border: none;
	border-color: transparent;
	padding: 6px;
}

.cell_markup {
	border: none;
	vertical-align: top;
	text-align: left;
}

#program_header {
	font-size: x-large;
	font-weight: bold;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	margin-bottom: 16px;
	border: none;
	border-color: transparent;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loader {
	border: 1.5mm solid #d8c9df;
	border-top: 1.5mm solid #634c7f;
	border-radius: 50%;
	width: 10mm;
	height: 10mm;
	animation: spin 2s linear infinite;
	margin: 8px;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }